@import url("https://fonts.googleapis.com/css?family=Monoton|Roboto");
@import url("https://fonts.googleapis.com/css?family=Plaster");
@import url("https://fonts.googleapis.com/css?family=Cute+Font");
@import url("https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0 auto;
}

body {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

/*pomodoro grid consists of three grid areas: timer, session, break*/
#pomodoro {
  margin: auto;
  margin-top: 150px;
  max-width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#pomodoro #session, #pomodoro #break, #pomodoro #timer {
  font-family: "Cute Font", sans-serif;
  font-size: 30px;
}

#pomodoro #session, #pomodoro #break {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "label label label label label" ". dec time inc .";
  -ms-grid-columns: 7fr 1fr 1fr 1fr 7fr;
      grid-template-columns: 7fr 1fr 1fr 1fr 7fr;
  -ms-grid-rows: 1fr, 1fr;
      grid-template-rows: 1fr, 1fr;
}

#pomodoro #session label, #pomodoro #break label {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: label;
  text-align: center;
}

#pomodoro #session .decrement, #pomodoro #break .decrement {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: dec;
}

#pomodoro #session .length, #pomodoro #break .length {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: time;
  font-size: 28px;
  margin: auto;
  padding: 0;
}

#pomodoro #session .increment, #pomodoro #break .increment {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: inc;
}

#pomodoro #timer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / span 1 / span 2;
  /* fills full first row out of two in pomodoro grid*/
  margin: auto;
  display: -ms-grid;
  display: grid;
  /* grid is needed for two headers to come side by side at smaller screens*/
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "header time header2";
}

#pomodoro #timer #header {
  text-align: left;
  font-size: 60px;
  font-family: "Plaster", sans-serif;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  margin-right: 30px;
}

#pomodoro #timer #header2 {
  text-align: right;
  font-size: 60px;
  font-family: "Plaster", sans-serif;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header2;
  margin-left: 30px;
}

#pomodoro #timer #time-left {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: time;
  margin: auto;
}

#pomodoro #timer #time-left button {
  width: 50%;
}

#pomodoro #timer #time-left p {
  text-align: center;
}

#pomodoro #timer #time-left #time-left-label {
  text-align: center;
  margin: auto;
  margin-top: 30px;
  font-size: 150px;
}

#pomodoro #timer #time-left #timer-label {
  font-size: 100px;
  margin-bottom: 20px;
  -webkit-animation: blinking 3000ms ease-in-out infinite;
          animation: blinking 3000ms ease-in-out infinite;
  margin-top: -94px;
  margin-right: -150px;
  z-index: -99;
}

/*all buttons have these properties*/
button {
  background: none;
  border: none;
  padding: 0px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 25px;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

button:hover {
  font-size: 28px;
}

/*timer label blinking*/
@-webkit-keyframes blinking {
  0% {
    color: #FFF;
  }
  30% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  90% {
    color: transparent;
  }
  100% {
    color: #FFF;
  }
}
@keyframes blinking {
  0% {
    color: #FFF;
  }
  30% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  90% {
    color: transparent;
  }
  100% {
    color: #FFF;
  }
}

/*initial blinking params*/
@-webkit-keyframes blinking2 {
  0% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
}
@keyframes blinking2 {
  0% {
    color: transparent;
  }
  100% {
    color: transparent;
  }
}

@media (max-width: 970px) {
  #pomodoro {
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }
  #pomodoro #timer {
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header" "header2" "time";
  }
  #pomodoro #timer #header, #pomodoro #timer #header2 {
    font-size: 45px;
    text-align: center;
    margin: 0;
  }
  #pomodoro #session, #pomodoro #break {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    -ms-grid-columns: 4fr 1fr 1fr 1fr 4fr;
        grid-template-columns: 4fr 1fr 1fr 1fr 4fr;
  }
  #time-left {
    margin-top: 30px;
  }
  #time-left #timer-label {
    margin: 0px;
    margin-top: -90px;
    padding: 0px;
  }
}

#theme-selection {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
}

#theme-selection button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 5px;
}

#theme-selection button:hover {
  width: 12px;
  height: 12px;
}

.third {
  background: #dc2430;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#e43a15), to(#dc2430));
  background: linear-gradient(to bottom, #e43a15, #dc2430);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

.third button {
  color: white;
}

.third button:hover {
  color: #d6be57;
}

.third #root #pomodoro #session, .third #root #pomodoro #break {
  color: white;
}

.third #root #pomodoro #timer #header, .third #root #pomodoro #timer #header2 {
  color: white;
}

.third #root #pomodoro #timer #time-left {
  color: #430000;
}

.second {
  background: #fbffc2;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#fbffc2));
  background: linear-gradient(to bottom, #FFF, #fbffc2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #070107;
  background: url("https://images.unsplash.com/photo-1557445796-184d83fc49b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  background-size: cover;
}

.second button {
  color: #070107;
}

.second button:hover {
  color: #336611;
}

.second #root #pomodoro #session, .second #root #pomodoro #break {
  color: #070107;
}

.second #root #pomodoro #timer #header, .second #root #pomodoro #timer #header2 {
  color: #070107;
}

.second #root #pomodoro #timer #time-left {
  color: #4f0f36;
}

.initial {
  background: #1D976C;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#93F9B9), to(#1D976C));
  background: linear-gradient(to bottom, #93F9B9, #1D976C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFFFFF;
}

.initial button {
  color: #FFFFFF;
}

.initial button:hover {
  color: #D2B0E8;
}

.initial #root #pomodoro #session, .initial #root #pomodoro #break {
  color: #FFFFFF;
}

.initial #root #pomodoro #timer #header, .initial #root #pomodoro #timer #header2 {
  color: #FFFFFF;
}

.initial #root #pomodoro #timer #time-left {
  color: #712D9E;
}
/*# sourceMappingURL=App.css.map */