@import url('https://fonts.googleapis.com/css?family=Monoton|Roboto');
@import url('https://fonts.googleapis.com/css?family=Plaster');
@import url('https://fonts.googleapis.com/css?family=Cute+Font');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');

//code for setting up a theme
@mixin theme($primary, $secondary, $tertiary, $bg-one, $bg-two) {
  background: $bg-two;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $bg-one, $bg-two);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $bg-one, $bg-two); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $primary;

  button {
    color: $primary;
    &:hover {
      color:$tertiary;
    }
  }
  #root #pomodoro #session, #root #pomodoro #break {
    color: $primary;
  }
  #root #pomodoro #timer {
    #header, #header2 {
      color: $primary;
    }
    #time-left {
      color: $secondary;
    }
  }
}


* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0 auto;
}

body {
  //background: $bg-two;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to bottom, $bg-one, $bg-two);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to bottom, $bg-one, $bg-two); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  //color: $primary;
  background-repeat: no-repeat;
  height: 100vh;
  width:100vw;
  overflow: auto;
}
/*pomodoro grid consists of three grid areas: timer, session, break*/
#pomodoro{
  margin: auto;
  margin-top: 150px;
  max-width: 90%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;

  #session, #break, #timer {
    font-family:"Cute Font", sans-serif;
    font-size: 30px;
  }

  #session, #break {
    display: grid;
    grid-template-areas: "label label label label label"
                         ". dec time inc .";
    grid-template-columns: 7fr 1fr 1fr 1fr 7fr;
    grid-template-rows: 1fr, 1fr; 
    //color: $primary;

    label {
      grid-area: label;
      text-align: center;
    }
    .decrement{
      grid-area: dec;
    }
    .length {
      grid-area: time;
      font-size: 28px;
      margin: auto;
      padding: 0;
    }
    .increment {
      grid-area: inc;
    }
  }

  #timer {
    grid-area: 1 / 1 / span 1 / span 2; /* fills full first row out of two in pomodoro grid*/
    margin: auto;
    display: grid; /* grid is needed for two headers to come side by side at smaller screens*/
    grid-template-rows: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "header time header2";
            
    #header {
      text-align: left;
      font-size: 60px;
      font-family: "Plaster", sans-serif;
      //color: $primary;
      grid-area: header;
      margin-right: 30px;
    }
  
    #header2 {
      text-align: right;
      font-size: 60px;
      font-family: "Plaster", sans-serif;
      //color: $primary;
      grid-area: header2;
      margin-left: 30px;
    }
  
    #time-left {
      grid-area: time;
      margin: auto;
      //color: $secondary;
  
        button {
          width: 50%;
        }

        p {
          text-align: center
        }

        #time-left-label {
          text-align: center;
          margin: auto;
          margin-top: 30px;
          font-size: 150px;
        } 
  
       #timer-label {
          font-size: 100px;
          margin-bottom: 20px;
          animation: blinking 3000ms ease-in-out infinite;
          margin-top: -94px;
          margin-right: -150px;
          z-index: -99;
        }
    } 
  }
}

/*all buttons have these properties*/
button {
  background: none;
	//color: $primary;
	border: none;
	padding: 0px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-size: 25px;
  transition: color 200ms;

  &:hover {
    //color: $tertiary;
    font-size: 28px;
  } 
}

/*timer label blinking*/

@keyframes blinking {
  0% { color: #FFF;}
  30% {color: transparent;}
  50% {color: transparent;}
  90% {color: transparent;}
  100% {color: #FFF;}
}

/*initial blinking params*/
@keyframes blinking2 {
  0% { color:  transparent;}
  100% {color: transparent;}
}

@media (max-width: 970px) {
  #pomodoro {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;

    #timer {
    grid-template-rows: auto auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "header" "header2" "time";

      #header, #header2 {
        font-size: 45px;
        text-align: center;
        margin: 0;
      }
    }

    #session, #break {
      width: 100%;
      margin: 0;
      margin-top: 20px;
      grid-template-columns: 4fr 1fr 1fr 1fr 4fr;
    }
  }
  
  #time-left {
    margin-top: 30px;
    #timer-label {
      margin: 0px;
      margin-top: -90px;
      padding: 0px;
    }
  }
}
//three buttons to select theme
#theme-selection {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
      &:hover {
        width: 12px;
        height: 12px;
      }
  }
}

//toggle themes
.third {
  @include theme(white,#430000,#d6be57, #e43a15, #dc2430);
}
.second {
  @include theme(#070107, #4f0f36, #336611, #FFF, #fbffc2);
  background: url("https://images.unsplash.com/photo-1557445796-184d83fc49b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
  background-size: cover;
}
.initial{
  @include theme(#FFFFFF, #712D9E, #D2B0E8, #93F9B9, #1D976C);

}


 